<p>The customer's name is: <%= @customer.name %></p>
<p>Customer's age is: <%= @customer.age %></p>
<p>Customer's phone is: <%= @customer.phone %></p>
<p>Customer's email id is: <%= @customer.email %></p>